<% category.each do |category| %>
    <div class="menu-category-name">
      <div class="menu-category-name-link">
        <a href="#<%= category.name[0] %>"><%= category.name %></a>
      </div>
    </div>
<% end %>