<main class="cart-section">
<section class="nav-bar-section">
        <nav class="navbar navbar-dark nav-color navbar-expand-lg fixed-top">
            <a class="navbar-brand animated tada delay-5s" href=""><i class="fas fa-utensils nav-icon"></i> <span class="logo-foody">Foody</span> <span class="Blinders-logo">Blinders</span></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon nav-button"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                    <% if !@current_user %>
                        <li class="nav-item">
                            <a class="nav-link" id="sign-in-link" href="#">Sign In</a>
                        </li>
                        <% end %>
                        <% if @current_user %>
                            <li class="nav-item">
                                <%= link_to "Sign Out", destroy_session_path, method: "delete", class:"nav-link"%>
                            </li>
                        <% end %>
                </ul>
            </div>
        </nav>
    </section>
    <section>
      <div class="cart-box">
        <div class="cart-box-header">
          <h4 class="cart-item">Item</h4>
          <h4 class="cart-price">Price</h4>
          <h4 class="cart-quantity">Quantity </h4>
          <h4 class="cart-total">Total</h4>
        </div>
        <div class="cart-box-items">
          
        </div>
        <div class="cart-box-total">
          <a class="cart-box-confirm-link" href="/cart/new">Confirm Order</a>
          <h4 class="cart-box-pay">You Pay :</h4>
          <h4><i class="fas fa-rupee-sign"></i> </h4>
          <h4 class="cart-box-total-price"></h4>
        </div>

      </div>
    </section>
</main>