<section class="order-section">
  <div class="user-list-container">
    <div class="user-list-section">
      <h1 style="color: #E62E5D;margin-left: auto;font-size:40px; font-weight: bold;" align="center">Orders</h1>
        <% @orders.each do |order| %>
          <div class="order-list">
            <p class="clerk-sec-pennding-orders-order"  id="<%= order.id %>"><i class="fas fa-list"></i> <%=order.order_items[0].item_name %> ...</p>
            <p class="clerk-sec-pennding-date"><%= order.created_at.to_s(:short) %></p>
            <button class="order-list-Btn">
            <%= order.delivered_status ? "Delivered" : "Pending" %>
            </button>
          </div>
        <% end %>
    </div>
  </div>
</section>