
<main class="salesdash">
<script>
    window.onload = function () {
    
    var chart1 = new CanvasJS.Chart("chartContainer1", {
        animationEnabled: true,
        title:{
            text: "Today's Sale"
        },
        axisY :{
            valueFormatString: "#0,.",
            suffix: "k",title: "Income"
        },
        axisX: {
            title: "Items"
        },
        toolTip: {
            shared: true
        },
        data: [{        
            type: "stackedArea",
            showInLegend: true,
            toolTipContent: "<span style=\"color:#4F81BC\"><strong>{name}: </strong></span> {y}",
            name: "",
            dataPoints: [
            { x: 1, y: 3000 },
            { x: 2, y: 7000 },
            { x: 3, y: 10000 },
            { x: 4, y: 14000 },
            { x: 5, y: 23000 },
            { x: 6, y: 31000 },
            { x: 7, y: 42000 },
            { x: 8, y: 56000 },
            { x: 9, y: 64000 },
            { x: 10, y: 81000 },
            { x: 11, y: 105000 }
            ]
        }]
    });

    var chart2 = new CanvasJS.Chart("chartContainer2", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Monthly Sales"
	},
	axisY: {
		title: "Revenue"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		legendText: "Month",
		dataPoints: [      
			{ y: 300878, label: "Jan" },
			{ y: 266455,  label: "Feb" },
			{ y: 169709,  label: "Mar" },
			{ y: 158400,  label: "April" },
			{ y: 142503,  label: "May" },
			{ y: 101500, label: "June" },
			{ y: 97800,  label: "July" },
			{ y: 80000,  label: "August" }
		]
	}]
});
    chart1.render();
    chart2.render();
    
    }
    function myfunction(){    
      if (document.getElementById("customers").style.display === "none")
        document.getElementById("customers").style.display="block";
    else
        document.getElementById("customers").style.display="none";   
}
</script>
    
<style>
  div {
    background-image: url('img_girl.jpg');
  }
</style>
<body>
    

<div class="wrapper">
  
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo">
         DASHBOARD
      </div>
      <div class="logo" style="margin-left:auto;">
         SIGNOUT
      </div>
      <ul>
        <li><a href="/signout" data-method="delete">
          <i class="fas fa-user" ></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div class="sidebar">
      <ul>
        <li><a href="/owner"style="text-decoration: none;">
          <span class="icon"><i class="fas fa-book"></i></span>
          <span class="title">Menus</span>
          </a></li>
        <li><a href="/userdash"style="text-decoration: none;">
          <span class="icon"><i class="	fas fa-child"></i></span>
          <span class="title">Users</span>
          </a></li>
        <li><a href="/clerkdash"style="text-decoration: none;">
          <span class="icon"><i class="fas fa-male"></i></span>
          <span class="title">Clerks</span>
          </a></li>
        <li><a href="#" class="active"style="text-decoration: none;">
          <span class="icon"><i class="fab fa-btc"></i></span>
          <span class="title">Sales Report</span>
          </a></li>
        <li><a href="/orderdash"style="text-decoration: none;">
          <span class="icon"><i class="fas fa-cart-plus"></i></span>
          <span class="title">Orders</span>
          </a></li>
    </ul>
  </div>
  
  <div class="main_container" >
      <div class="main_containerchart">
        <div class="item-chart">
            <div id="chartContainer1" style="height: 400px; width: 600px;" ></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>

        <div class="item-chart">
            <div id="chartContainer2" style="height: 400px; width: 600px;" ></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
      </div>
      
<div class="container bootstrap snippet" style="margin-top:30px;">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-dark panel-colorful">
                <div class="panel-body text-center">
                	<p class="text-uppercase mar-btm text-sm">Customers</p>
                	<i class="fa fa-users fa-5x"></i>
                	<hr>
                	<p class="h2 text-thin"><%=User.customer().count%></p>
                	
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-danger panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Orders</p>
        			<i class="fa fa-shopping-cart fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin"><%=Order.count%></p>
        			
        		</div>
        	</div>
        </div>
        <%t=0%>
              <%Order.all.each do |order|%>
                <%t=t+order.cost%>
                <%end%>
        <div class="col-md-3 col-sm-6 col-xs-12">
        	<div class="panel panel-info panel-colorful">
        		<div class="panel-body text-center">
        			<p class="text-uppercase mar-btm text-sm">Revenue</p>
        			<i class="fa fa-dollar fa-5x"></i>
        			<hr>
        			<p class="h2 text-thin"><%=t%></p>
        			
        		</div>
        	</div>
        </div>        
	</div>
</div>

    
    
    
    
  </div>
</main>    

