<section class="owner">
  <div class="wrapper">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="hamburger-logo">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
      <div class="top_menu">
        <div class="logo">
          <p>DASHBOARD</p>
        </div>
        <div class="logo" style="margin-left:50%;">
          <p><a href="/" style="text-decoration: none; color: white;">Home</a></p>
        </div>
        <div class="logo" style="margin-left:5%;">
          <p><a href="/menus" style="text-decoration: none; color: white;">Menu</a></p>
        </div>
        <div class="logo" style="margin-left:auto;">
          <p><a href="/signout" style="text-decoration: none; color: white;">SIGNOUT</a></p>
        </div>
        <ul>
          <li><a href="/signout" data-method="delete">
            <i class="fas fa-user" ></i>
            </a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar">
        <ul>
          <li><a href="/owner"  style="text-decoration: none;">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Menus</span>
            </a></li>
          <li><a href="/userlist" style="text-decoration: none;">
            <span class="icon"><i class="	fas fa-child"></i></span>
            <span class="title">Users</span>
            </a></li>
          <li><a href="/clerklist" style="text-decoration: none;">
            <span class="icon"><i class="fas fa-male"></i></span>
            <span class="title">Clerks</span>
            </a></li>
          <li><a href="/salesdash" style="text-decoration: none;">
            <span class="icon"><i class="fab fa-btc"></i></span>
            <span class="title">Sales Report</span>
            </a></li>
          <li><a href="#"  class="active" style="text-decoration: none;">
            <span class="icon"><i class="far fa-paper-plane"></i></span>
            <span class="title">Subscribed</span>
            </a></li>
          <li><a href="/orderdash" style="text-decoration: none;">
            <span class="icon"><i class="fas fa-cart-plus"></i></span>
            <span class="title">Orders</span>
            </a></li>
        </ul>
    </div>
    <div class="main_container">
        <div class="user-list-container">
          <div class="user-list-section">
            <h1 style="color: #E62E5D;margin-left: auto;font-size:40px;" align="center">Customers</h1>
            <div class="user-list">
              <ol>
                  <%users=Subscribe.all%>
                  <% if users.blank? %>
                    <li class="user-name">
                        <div class="useritem-container">
                          <p class="user-email">No Subscribers yet.</p>
                        </div>
                    </li>
                  <% else %>
                    <%users.each do|user| %>
                      <li class="user-name">
                        <div class="useritem-container">
                          <div class="useritem-container-name">
                            <h3><a href="mailto:<%= user.email %>"><i class="far fa-paper-plane"></i></a></h3>
                          </div>
                          <div class="useritem-container-email">
                            <p class="user-email"><%= user.email%></p>
                          </div>
                        </div>
                      </li> 
                    <%end%>
                  <%end%>
              </ol>
            </div>
          </div>
        </div>
    </div>
</section>