        .cart-section {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(bg.jpg);
            background-size: cover;
        }
        
        .nav-color {
            background: rgba(2, 2, 2, 0.75);
            box-shadow: 2px 8px 30px black;
        }
        
        .cart-box {
            width: 150vh;
            height: 80vh;
            background-color: white;
            border-radius: 20px;
            margin: 15vh auto 0 auto;
            box-shadow: 2px 8px 30px black;
            padding: 2%;
        }
        
        .cart-box-header {
            color: #17181A;
            width: 100%;
            display: flex;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.7rem;
            font-weight: bold;
            padding: 1% 3%;
            border-bottom: 3px solid #17181A;
            border-radius: 3px;
        }
        
        .cart-item {
            width: 60%;
            padding-left: 7%;
        }
        
        .cart-price {
            width: 20%;
        }
        
        .cart-quantity {
            width: 20%;
        }
        
        .cart-total {
            width: 20%;
            padding-left: 5%;
        }
        
        .cart-box-items {
            margin-top: 1%;
            width: 100%;
            height: 52vh;
            overflow: scroll;
        }
        
        .cart-box-item-sec {
            width: 100%;
            padding: 2%;
            display: flex;
            font-family: 'Montserrat', sans-serif;
        }
        
        .cancel-icon {
            color: red;
            font-size: 1.3rem;
            background: none;
            border: none;
            margin: auto 0;
            outline: none !important;
        }
        
        .cart-box-item-para {
            width: 43%;
            color: #17181A;
            font-size: 1.3rem;
            padding-left: 2%;
            font-weight: bold;
            margin: auto 0;
        }
        
        .cart-box-item-price {
            width: 15%;
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            margin: auto 0;
        }
        
        .cart-box-item-quantity {
            width: 23%;
            padding: 0% 4%;
            display: flex;
            text-align: center;
            margin: auto 0;
        }
        
        .quantity-icon {
            color: #F73859;
            background: none;
            border: none;
            font-size: 1.3rem;
            margin: auto;
            outline: none !important;
        }
        
        .cart-box-item-quantity-number {
            font-size: 1.3rem;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            margin: auto 0;
        }
        
        .cart-box-item-total {
            width: 13%;
            text-align: center;
            font-size: 1.3rem;
            font-weight: bold;
            margin: auto 0;
        }
        
        .cancel-icon:hover,
        .quantity-icon:hover {
            transform: scale(1.2);
        }
        
        .cart-box-total {
            padding: 3%;
            height: 10vh;
            width: 100%;
            display: flex;
            font-size: 1.4rem;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
        
        .cart-box-confirm-link {
            width: 73%;
            text-decoration: none;
            margin: auto 0;
            padding-left: 3%;
            color: #F73859;
            transition: 0.1s;
        }
        
        .cart-box-confirm-link:hover {
            text-decoration: none;
            border: none;
            color: #F73859;
            font-size: 1.5rem;
        }
        
        .cart-box-pay {
            width: 15%;
            margin: auto 0;
        }
        
        .cart-empty {
            text-align: center;
            margin-top: 20vh;
            font-size: 1.4rem;
            font-family: 'Roboto', sans-serif;
            color: #17181A;
        }
        
        .cart-box-empty {
            padding: 2%;
        }
        
        .cart-box-empty-link {
            color: #F73859;
            transition: 0.1s;
        }
        
        .cart-box-empty-link:hover {
            color: #F73859;
            text-decoration: none;
            border: none;
            font-size: 1.5rem;
        }