.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden;
}

.clerk-Dashboard {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-size: cover;
}

.nav-color {
    background: rgba(2, 2, 2, 0.75);
    box-shadow: 2px 8px 30px black;
}

.Pending-orders-row {
    max-height: 85vh;
}

.pending-cards-col {
    height: 85vh;
    padding-top: 7.5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
}

.Pending-orders-details {
    height: 85vh;
}

.Pending-orders-cards {
    width: 50vh;
    height: 22.5vh;
    background-color: aliceblue;
    box-shadow: 28px 24px 66px -2px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    margin: auto;
    padding: 6%;
    margin-top: 10%;
    transition: 0.3s;
    display: flex;
}

.Pending-orders-cards:hover {
    transform: scale(1.1);
}

.info-circle {
    width: 35%;
    height: 100%;
    border-radius: 500px;
    background-color: aliceblue;
    position: relative
}

.info-circle:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    background-color: #F73859;
    position: absolute;
    z-index: -1;
    transition: 0.3s;
    transform: scale(0.9);
}

.Pending-orders-cards:hover .info-circle {
    box-shadow: 0 0 25px #F73859;
}

.Pending-orders-cards:hover .info-circle:before {
    transform: scale(1.05);
}

.Pending-orders-cards:hover .info-header {
    position: absolute;
    top: 20%;
    left: 20%;
    color: #F73859;
    font-size: 3.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.info-header {
    position: absolute;
    top: 7%;
    left: 6%;
    bottom: 15%;
    right: 15%;
    color: #F73859;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
}

.info-details {
    width: 55%;
    height: 100%;
    text-align: left;
    color: #F73859;
    font-size: 1.8rem;
    padding-top: 6%;
    padding-left: 5%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.Pending-orders-details {
    background-color: aliceblue;
    border-radius: 20px;
    height: 80vh;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
    margin-bottom: 4vh;
    position: relative;
}

.clerk-name {
    font-size: 3rem;
    position: absolute;
    top: 4%;
    left: 4%;
    font-family: 'Roboto', sans-serif;
    color: #F73859;
}

.clerk-sec-date {
    font-size: 1.2rem;
    position: absolute;
    top: 4%;
    right: 4%;
    font-family: 'Roboto', sans-serif;
    color: #17181A;
}

.clerk-sec-time {
    font-size: 1.1rem;
    position: absolute;
    top: 9%;
    right: 4%;
    font-family: 'Roboto', sans-serif;
    color: #17181A;
}

.clerk-sec-list {
    position: absolute;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    top: 17.5%;
    left: 4%;
    display: flex;
}

.clerk-sec-list-item {
    color: black;
    text-decoration: none;
    text-align: left;
    width: 170px;
}

.clerk-sec-list-btn {
    color: #17181A;
    outline: none !important;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0%;
    padding-bottom: 2%;
    text-decoration: none;
}

.clerk-sec-list-btn:hover {
    border: none;
    outline: none;
    text-decoration: none;
    color: #17181A;
    border-bottom: 3px solid #F73859;
    border-radius: 2px;
}

.border-bottom {
    border-bottom: 3px solid #F73859 !important;
    border-radius: 2px;
}

.clerk-sec-pennding-orders {
    position: absolute;
    top: 25%;
    left: 4%;
    height: 70%;
    width: 92.5%;
    background: rgb(247, 56, 89);
    margin-left: auto;
    border-radius: 15px;
    display: flex;
    overflow: scroll;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.clerk-sec-pennding-orders-header {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 3%;
    color: #17181A;
}

.clerk-sec-pennding-orders-para {
    color: #17181A;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 25%;
}

.clerk-sec-pennding-orders-info {
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    padding: 1% 3%;
}

.clerk-sec-pennding-orders-info:hover {
    background-color: rgb(248, 101, 126);
    border-radius: 25px;
}

.clerk-sec-pennding-orders-order {
    color: rgb(117, 14, 45);
    font-size: 1rem;
    width: 55%;
    margin: auto 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.clerk-sec-pennding-orders-div {
    width: 100%;
    padding-top: 3%;
    padding-left: 1%;
}

.delivered-Btn {
    color: #17181A;
    font-size: 0.5 rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
    width: 20%;
    background-color: rgb(52, 54, 56);
    border-radius: 20px;
    color: white;
    letter-spacing: 2px;
    padding: 1%;
}

.delivered-Btn:hover {
    transform: scale(1.05);
    background-color: green;
}

.clerk-sec-tick {
    width: 7%;
    font-size: 4vh;
    margin: auto 0;
    color: white;
}

.delvBtn {
    background-color: aliceblue;
    color: green;
}

.delvBtn:hover {
    background-color: aliceblue;
    color: green;
}

.order-list-sec {
    position: absolute;
    height: 80vh;
    width: 60vh;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1%;
    z-index: 9999;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    bottom: 0%;
    top: 0%;
    right: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Order-list-header {
    width: 100%;
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    border-bottom: 3px solid #17181A;
    border-radius: 3px;
    display: flex;
    position: relative;
}

.order-list-items {
    height: 57vh;
    padding: 5%;
    overflow: scroll;
}

.order-list-items-para {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    padding-bottom: 3%;
}

.order-list-closeBtn {
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: 1.5rem;
    background: none;
    border: none;
    outline: none !important;
}

.order-list-pay {
    margin-left: 45%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.invisible {
    visibility: hidden;
}