    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    .owner {
        background-image: url("bg.jpg");
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }
    
    .clerkdash,
    .salesdash,
    .usersdash {
        background-image: url("bg.jpg");
        background-size: 60rem;
        background-attachment: fixed;
        height: 100vh;
        width: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    .invoicedash {
        background-image: url("bg.jpg");
        background-size: 60rem;
        background-attachment: fixed;
        height: 100%;
        width: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    
    .wrapper {
        margin: 0px;
    }
    
    .wrapper .top_navbar {
        width: calc(100% - 0px);
        height: 70px;
        display: flex;
        position: fixed;
        z-index: 1;
        top: 0px;
    }
    
    .wrapper .top_navbar .hamburger {
        width: 70px;
        height: 100%;
        background: #231f20;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 0px;
        cursor: pointer;
    }
    
    .wrapper .top_navbar .hamburger .hamburger-logo div {
        width: 35px;
        height: 4px;
        background: #fff;
        margin: 5px 0;
        border-radius: 5px;
    }
    
    .wrapper .top_navbar .top_menu {
        width: calc(100% - 70px);
        height: 100%;
        background: #231f20;
        border-top-right-radius: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    .wrapper .top_navbar .top_menu .logo {
        color: #fff;
        margin: auto 0;
        height: 100%;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .wrapper .top_navbar .top_menu ul {
        display: flex;
    }
    
    .wrapper .top_navbar .top_menu ul li a {
        display: block;
        margin: 0 10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
    }
    
    .wrapper .top_navbar .top_menu ul li a:hover {
        background: #E62E5D;
        color: #fff;
    }
    
    .wrapper .top_navbar .top_menu ul li a:hover i {
        color: #fff;
    }
    
    .wrapper .sidebar {
        position: fixed;
        top: 70px;
        left: 0px;
        background: #231f20;
        width: 200px;
        height: calc(100% - 0px);
        border-bottom-left-radius: 20px;
        transition: all 0.4s ease;
    }
    
    .wrapper .sidebar ul li a {
        display: block;
        padding: 25px;
        color: #fff;
        position: relative;
        margin-bottom: 1px;
        color: #fff;
        white-space: nowrap;
        transition: 0.2s;
    }
    
    .wrapper .sidebar ul li a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: #E62E5D;
        display: none;
        white-space: nowrap;
    }
    
    .wrapper .sidebar ul li a span.icon {
        margin-right: 10px;
        display: inline-block;
        color: #E62E5D
    }
    
    .wrapper .sidebar ul li a span.title {
        transition: 0.3s;
        display: inline-block;
    }
    
    .wrapper .sidebar ul li a:hover {
        background: #100E0F;
        color: #fff;
        font-size: 18px;
        transition: 0.2s all ease-in-out;
        transition: 0.2s ease-out;
    }
    
    .wrapper .sidebar ul li a.active {
        background: #100E0F;
        color: #fff;
        transition: 0.2s all ease-in-out;
        transition: 0.2s ease-out;
    }
    
    .wrapper .sidebar ul li a:hover:before,
    .wrapper .sidebar ul li a.active:before {
        display: block;
    }
    
    .wrapper .main_container {
        width: (100% - 200px);
        margin-top: 70px;
        margin-left: 200px;
        height: auto;
        padding: 15px;
        transition: all 0.3s ease;
    }
    
    .main_containerchart {
        width: (100% - 200px);
        padding: 15px;
        transition: all 0.3s ease;
        display: flex;
    }
    
    .wrapper .main_container .item {
        background: #fff;
        margin-bottom: 10px;
        padding: 15px;
        font-size: 14px;
        line-height: 22px;
        border-radius: 0px;
        height: fit-content;
        width: fit-content;
    }
    
    .wrapper .main_container .border-scroll {
        background: #fff;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 14px;
        line-height: 22px;
        border-radius: 20px;
        height: auto;
        width: 700px;
        overflow-y: auto;
    }
    
    .wrapper .main_container .border-scroll-clerk {
        background: #fff;
        margin: 0 auto;
        margin-left: 400px;
        padding: 15px;
        font-size: 20px;
        line-height: 22px;
        border-radius: 20px;
        height: auto;
        width: 500px;
    }
    
    .wrapper .main_container .border-scroll-menu {
        background: #fff;
        margin: 0 auto;
        margin-top: 10px;
        padding: 15px;
        font-size: 20px;
        line-height: 22px;
        border-radius: 20px;
        height: auto;
        width: 650px;
    }
    
    .wrapper .main_container .item-scrollbar {
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 15px;
        padding: 15px;
        font-size: 20px;
        line-height: 50px;
        display: block;
        padding: 10px;
        height: 700px;
        width: auto;
        overflow-y: auto;
    }
    
    .wrapper .main_container .item-scrollbar-clerk {
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 15px;
        padding: 15px;
        font-size: 20px;
        line-height: 50px;
        display: block;
        padding: 10px;
        height: 200px;
        width: auto;
        overflow-y: auto;
    }
    
    .wrapper .main_container .item-scrollbar-menu {
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 15px;
        padding: 15px;
        font-size: 20px;
        line-height: 50px;
        display: block;
        padding: 10px;
        height: 400px;
        width: auto;
        overflow-y: auto;
    }
    
    .wrapper .main_containerchart .item-chart {
        background: #fff;
        margin: 0 auto;
        padding: 15px;
        font-size: 14px;
        line-height: 22px;
        border-radius: 20px;
        height: fit-content;
        width: fit-content;
    }
    
    .collapsed .sidebar ul li a span.icon {
        margin: 0;
    }
    
    .collapsed .main_container {
        width: (100% - 70px);
        margin-left: 70px;
        height: 100%;
    }
    
    .collapsed .sidebar ul li a span.title {
        display: none;
    }
    
    .collapsed .sidebar {
        width: 70px;
    }
    
    .menuitem-checkbox {
        width: 16px;
        height: 16px;
    }
    
    .menuitem-container {
        display: flex;
        padding: 2px 8px;
        align-items: center;
        margin-left: 10px;
    }
    
    .menuitem-image {
        margin-left: auto;
        border-radius: 5px;
    }
    
    .View-sales-report {
        padding-top: 10px;
        width: 400px;
        align-items: center;
        margin: 0 auto;
        height: auto;
        color: white;
        background: #E62E5D;
        border-radius: 5px;
        border: 2px solid #BFB8CC;
    }
    
    .Sales-date {
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
        align-items: center;
    }
    
    .ash {
        flex-flow: wrap;
    }
    
    .Addsales-date {
        padding: 5px 10px;
        align-items: center;
        font-size: 15px;
        color: #453C52;
        margin-top: 20px;
        margin: 0 auto;
        border-radius: 4px;
        border: 1px solid #BFB8CC;
    }
    
    .Addsales-button {
        font-size: 14px;
        color: white;
        background-color: #E62E5D;
        border: 1px solid transparent;
        padding: 6px 22px;
        border-radius: 4px;
    }
    
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        margin: 0 auto;
        margin-top: 40px;
        width: 100%;
    }
    
    #customers td,
    #customers th,
    #clerktable td,
    #clerktable th {
        border-radius: 2px;
        padding: 15px;
    }
    
    #customers tr,
    #clerktable tr {
        background-color: white;
    }
    
    #customers tr:hover,
    #clerktable tr:hover {
        background-color: #ddd;
    }
    
    #customers th,
    #clerktable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #E62E5D;
        color: white;
    }
    
    .addclerk {
        margin-top: 40px;
        height: 40px;
        align-items: stretch;
        margin-bottom: 40px;
    }
    
    .addmenu {
        margin-top: 40px;
        height: 40px;
        align-items: stretch;
        margin-bottom: 40px;
    }
    
    .addclerk-text {
        padding: 6px 12px;
        font-size: 25px;
        color: #453C52;
        margin-right: 10px;
        border-radius: 4px;
        border: 1px solid #BFB8CC;
    }
    
    .addclerk-button {
        font-size: 25px;
        color: white;
        background-color: #E62E5D;
        border: 1px solid transparent;
        padding: 6px 22px;
        border-radius: 4px;
    }
    
    .addmenu-button {
        font-size: 25px;
        color: white;
        background-color: #E62E5D;
        border: 1px solid transparent;
        padding: 6px 22px;
        border-radius: 4px;
        margin-top: 40px;
        height: 40px;
        margin-left: auto;
        align-items: stretch;
        margin-bottom: 40px;
    }
    
    #clerktable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        margin-left: 400px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 400px;
    }
    
    .categorya {
        background: #E62E5D;
        width: 40%;
        height: 190px;
        margin: 0 auto;
        border-radius: 15px;
        font-weight: 500;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .category-title {
        margin: auto;
        padding: 15px;
        font-weight: bold;
        font-size: 25px;
        color: white;
    }
    
    .categoryb {
        background: #E62E5D;
        width: 50%;
        height: auto;
        margin: 0 auto;
        border-radius: 15px;
        font-weight: 500;
        text-align: center;
        padding: 10px 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .editmenuitem {
        width: 100%;
        margin-bottom: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }
    
    .editmenuitem-title {
        font-size: 30px;
        padding: 15px;
        background: #E62E5D;
        color: white;
        border-radius: 30px;
    }
    
    .editmenu-container {
        display: flex;
        justify-content: space-between;
    }
    
    .addcategory-text {
        margin-top: 10px;
        padding: 6px 12px;
        font-size: 25px;
        color: #453C52;
        margin-bottom: 20px;
        border-radius: 20px;
        border: 1px solid #BFB8CC;
        outline: none !important;
    }
    
    .addmenuitem-text {
        margin-top: 10px;
        padding: 6px 12px;
        font-size: 25px;
        color: #453C52;
        margin-bottom: 20px;
        border-radius: 20px;
        width: 60%;
        border: 1px solid #BFB8CC;
        outline: none !important;
    }
    
    .addclerk-button {
        font-size: 25px;
        color: #E62E5D;
        background-color: white;
        border: 1px solid transparent;
        padding: 6px 22px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.3s;
    }
    
    .addclerk-button:hover {
        transform: scale(1.05);
    }
    
    .categoryb-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .categoryb-section-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: black;
    }
    
    .select-category {
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 20px;
        color: #453C52;
        margin-bottom: 20px;
        background: #fff;
        border-radius: 20px;
        height: 50%;
        width: 60%;
        outline: none !important;
        border: 1px solid #BFB8CC;
    }
    
    .select-user {
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 20px;
        color: #453C52;
        margin: 0 auto;
        background: #fff;
        border-radius: 4px;
        border: 1px solid #BFB8CC;
    }
    
    .addmenuitem-button {
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 5px;
        color: #E62E5D;
        background-color: white;
        border: 1px solid transparent;
        padding: 6px 22px;
        outline: none !important;
        border-radius: 4px;
    }
    
    .panel {
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
        border-radius: 0;
        border: 0;
        margin-bottom: 24px;
    }
    
    .panel-dark.panel-colorful {
        background-color: #3b4146;
        border-color: #3b4146;
        color: #fff;
    }
    
    .panel-danger.panel-colorful {
        background-color: #f76c51;
        border-color: #f76c51;
        color: #fff;
    }
    
    .panel-primary.panel-colorful {
        background-color: #5fa2dd;
        border-color: #5fa2dd;
        color: #fff;
    }
    
    .panel-info.panel-colorful {
        background-color: #4ebcda;
        border-color: #4ebcda;
        color: #fff;
    }
    
    .panel-body {
        padding: 25px 20px;
    }
    
    .panel hr {
        border-color: rgba(0, 0, 0, 0.1);
    }
    
    .mar-btm {
        margin-bottom: 15px;
    }
    
    h2,
    .h2 {
        font-size: 28px;
    }
    
    .small,
    small {
        font-size: 85%;
    }
    
    .text-sm {
        font-size: .9em;
    }
    
    .text-thin {
        font-weight: 300;
    }
    
    .text-semibold {
        font-weight: 600;
    }
    
    .user-list-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .user-list-section {
        background-color: white;
        width: 40%;
        border-radius: 20px;
        padding: 10px;
    }
    
    .user-name {
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        padding: 20px 0;
    }
    
    .useritem-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .user-email {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        color: grey;
    }
    
    .clerk-list-section {
        background-color: white;
        width: 40%;
        border-radius: 20px;
        padding: 10px;
    }